.page {
  display: "flex";
}

.content {
  // Has to be relative so LoadingOverlay is centered in main content
  position: relative;
  flex-grow: 1;

  margin-top: var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-xs);
  margin-right: var(--mantine-spacing-xs);
}
